*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imageminicial {
    height: 150px;
    width: 150px;

}
.link{
    margin-top: 65px;
    text-transform: uppercase;
    font-weight: bold;
}

    
.lista {
    display: inline;
    margin-left: 50px;
    font-size: 20px;
  
    
    
   
}

.ancora{
    text-decoration: none;
    color: black; 

  
}
.ancora:hover{
    color: red;
    text-decoration:overline;
   
}


.caixa{
  display: flex;
  justify-content: space-around;

 
}

header{
    background-color: #fbb304;
    width: 100%;
    height: 150px;
}


/*  acima codgos do header e abaixo codgos da tag main    */

main{
    display: flex;
}
.divmain{
    background-color: black;
    
    width: 50%;
    height: 81vh;

}

.imagemlibras{
    width: 100%;
}
.imagemnetflix{
    margin-top:125px;
    width: 100%;
}

.divmain1{
    background-color: black;
    
    width:50%;
    height: 81vh;

}
.quemSomos{
    background-color: beige;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.nossoProjeto{
    background-color: rgb(247, 247, 42);
    width: 100%;
    height: 100vh;
    text-align: center;

}
.contato{
    background-color: beige;
    width: 100%;
    height: 100vh;
    text-align: center;
}


/*  codgos da tag footer o rodape    */

footer{
    margin-top: 5px;
    text-align: center;
    background-color: #fbb304;
}
